<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css" minifyInProduction='true'}}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/prism/9000.0.1/themes/prism.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
  <div class="container">
    {{> header}}

    <div class="container-content">
      {{{body}}}
      {{!-- The tiny footer at the very bottom --}}
      <footer class="footer">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section>
          Ghost Theme with
          <a href="https://github.com/fourcels/ghostiny">ghostiny</a>
        </section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
      </footer>
    </div>
  </div>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  <script type="text/javascript" src="https://cdn.bootcss.com/turbolinks/5.0.0/turbolinks.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/prism/9000.0.1/prism.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-bash.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
  <script type="text/javascript" src="{{asset 'js/main.js'}}"></script>

</body>
</html>
